﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<ITELCA_CONTROLESTUDIOS.Models.LogOnModel>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
[ITELCA - Ingresar]
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<div class="span-24 column last">
<div class="append-8 span-8 prepend-8 column last">
    <div class="append-8 span-8 prepend-8 column last">
        <img src="/Content/Imagenes/logo.png"alt="ITELCA" title="ITELCA" />
    </div>
       
    <div class="space"></div>
    <div class="span-24 column last ui-widget-content ui-corner-all">
        <div class="span-24 column last introForm alignCenter">
            Por favor ingrese los datos que a continuación se le solicitan
        </div>
        <div class="span-24 column last separator"></div>
        <% using (Html.BeginForm()) { %>
		<% Html.EnableClientValidation(); %>
        <%:Html.ValidationSummary("Error en la aplicación")%>
        <div class="Formulario">
            <div class="span-23 prepend-1 column last">
                <%= Html.EditorFor(model => model.UserName)%>
            </div>
            <div class="span-23 prepend-1 column last">
                <div class="editor-label">  
                    <%= Html.LabelFor(model => model.Password)%>  
                </div>  
                <div class="editor-field">  
                    <%= Html.PasswordFor(model => model.Password)%>  
                    <%= Html.ValidationMessageFor(model => model.Password)%>  
                </div>
            </div>
            <div class="span-23 prepend-1 column last">
                <div class="editor-field">
                    <input type="submit" value="Ingresar" class="button" />
                </div>
            </div>
            <div class="span-23 prepend-1 column last">
                <div class="editor-field">
                    <%= Html.ActionLink("¿Olvidó su contraseña?","ResetPassword","Account") %>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</div>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="CssContent" runat="server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="JsContent" runat="server">
<script src="<%: Url.Content("~/Scripts/jquery.validate.min.js") %>" type="text/javascript"></script>
<script src="<%: Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js") %>" type="text/javascript"></script>   
</asp:Content>