﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<ITELCA_CONTROLESTUDIOS.Models.ViewModels.TurnoViewModel>" %>
       <div class ="span-24 last">
        <div class="span-8 column">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.turno.CODIGO)%>
			</div>
            <div class="editor-field">
				<%: Html.TextBoxFor(model => model.turno.CODIGO)%>
				<%: Html.ValidationMessageFor(model => model.turno.CODIGO)%>
			</div> 
        </div>
         <div class="span-8 column last">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.turno.NOMBRE)%>
			</div>
            <div class="editor-field">
				<%: Html.TextBoxFor(model => model.turno.NOMBRE)%>
				<%: Html.ValidationMessageFor(model => model.turno.NOMBRE)%>
			</div> 
        </div>
    </div>
     <div class ="span-24 last">
        <div class="span-8 column last">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.turno.BLOQUE)%>
			</div>
            <div class="editor-field">
				<%: Html.DropDownListFor(model => model.turno.BLOQUE, Model.bloque, "-- Seleccione --")%>
				<%: Html.ValidationMessageFor(model => model.turno.BLOQUE)%>
			</div> 
        </div>
            <div class="span-8 column">
                 <div class="editor-label">
					    <%: Html.LabelFor(model => model.turno.TIPOTURNO_ID)%>
			    </div>
                <div class="editor-field">
				   <%: Html.DropDownListFor(model => model.turno.TIPOTURNO_ID, Model.tipoTurno, "-- Seleccione --")%>
				<%: Html.ValidationMessageFor(model => model.turno.TIPOTURNO_ID)%>
			    </div> 
            </div>
        </div>