﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<ITELCA_CONTROLESTUDIOS.Models.ViewModels.UsuarioViewModel>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    [Itelca - Usuarios]
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<div class="span-22 append-1 prepend-1 column last ui-widget-content ui-corner-all">
	<span class="introForm">Usuario > Editar</span>
		<% using (Html.BeginForm("Editar", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" })){%>
		<% Html.EnableClientValidation(); %>
        <%:Html.HiddenFor(model=>model.USUARIO.USUARIO_ID) %>
        <%:Html.ValidationSummary("Error en la aplicación") %>

            <div  class="span-24 Formulario  column last">
                 <div  class="span-24 column last">
					<div class="span-8 column"> 
                        <h4>Usuario: <%: Model.USUARIO.NOMBREUSUARIO %></h4>
                        
					</div>
                </div>
				<% Html.RenderPartial("Form",Model); %>
            <div class="span-24 column last">
                <div class="span-8 column ">
                    <div class="editor-label">
				        <%: Html.LabelFor(model => model.USUARIO.ESTABLOQUEADO)%>
		            </div>
                    <div class="editor-field">
			            <%: Html.DropDownListFor(model => model.USUARIO.ESTABLOQUEADO,Model.bloqueado)%>
			            <%: Html.ValidationMessageFor(model => model.USUARIO.ESTABLOQUEADO)%>
		            </div>
                </div> 
            </div>
		</div>
               
        
        
        
            <div class="separator column span-24"></div>
			<p>
				<input type="submit" value="Guardar" class="button" />
			</p>
    <% } %>
    <div class="separator column span-24">
    </div>
    <div class="column span-24">
        <%: Html.ActionLink("Volver al listado", "Listar")%>
    </div>
</div>
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="CssContent" runat="server">
    <link href="/Content/Css/multiselect.css" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="JsContent" runat="server">
    <script src="/Scripts/jquery.maskedinput-1.2.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.multiselect.min.js" type="text/javascript"></script>
    <script src="/Scripts/Views/usuario.js" type="text/javascript"></script>
</asp:Content>

