﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Recibo_Mensualidad.aspx.cs" Inherits="ITELCA_CONTROLESTUDIOS.Reportes.Recibo_Mensualidad" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Recibo</title>
    <script src="/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pdf").attr("src", "<%=url%>");
           
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="pdf" width="90%" height="600px" ></iframe>
    </div>
    </form>
</body>
</html>
