﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Listar
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

<h2>Listar</h2>
<fieldset>
<div class="span-24 last">
        <p>
            <%: Html.ActionLink("Nuevo", "Crear") %>
        </p>
        <div id="msg">
        <%
            try
            {

                if (TempData["mensaje"] != null && TempData["mensaje"]  != "")
                {%>
			    <div  class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 0 .3em; width:30%; height:20px;">
				    <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
				    <div><%:TempData["mensaje"]  %></div>
			    </div>
		    
          <%
                }
            }
            catch{} 
            
           %>
        </div>
            <table id="gridCorrelativo">
            </table>
            <div id="pager"></div>
</div>
</fieldset>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="CssContent" runat="server">
    <link href="/Content/Css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="JSContent" runat="server">
    <script src="/Scripts/grid.locale-es.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            winHeight = window.innerHeight;
            wHeight = winHeight - 340;

            var gridCorrelativo = $("#gridCorrelativo").jqGrid({
                url: '/Correlativo/ObtenerData',
                datatype: 'json',
                mtype: 'POST',
                colNames: ['Id', 'Sede', 'Tipo Recibo', 'Número','Editar'],
                colModel: [
		            { name: 'CORRELATIVO_ID', index: 'CORRELATIVO_ID', align: "right", resizable: true, width: 50, searchoptions: { sopt: ['eq', 'ne', 'lt', 'le', 'gt', 'ge']} },
		            { name: 'SEDES.NOMBRE', index: 'SEDES.NOMBRE', resizable: true, width: 100, searchoptions: { sopt: ['cn']} },
                    { name: 'TIPO_DOCUMENTO', index: 'TIPO_DOCUMENTO', resizable: true, width: 200, searchoptions: { sopt: ['cn']} },
                    { name: 'NRO_CONTROL', index: 'NRO_CONTROL', width: 50, align: "center", resizable: true },
		            { name: 'Action1', index: 'Action1', align: "left", width: 50, resizable: false, sortable: false, search: false }],
                pager: jQuery('#pager'),
                rowNum: 500,
                height: wHeight,
                rowList: [500, 1000, 5000],
                sortname: 'CORRELATIVO_ID',
                sortorder: 'desc',
                autowidth: true,
                viewrecords: true,
                caption: 'Listado de Correlativos',
                loadComplete: function () {
                    $(".ui-icon-close").click(function () {
//                        var gr = $(this).attr("id");
//                        var r = confirm("Desea Eliminar la Caja ");
//                        if (r == true) {
//                            $.post("/Caja/Eliminar", { id: gr }, function (data) {
//                                var dat = ' <div  class="ui-state-highlight ui-corner-all" style="margin-top: 10px; padding: 0 .3em; width:30%; height:20px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><div>';
//                                dat += data[0].msg;
//                                dat += '</div></div>';
//                                $("#msg").empty().html(dat);
//                                gridCorrelativo.trigger('reloadGrid');

//                            });
//                        }
//                        else {
//                            x = "Cancelar";
//                        }
                        // alert("adas");
                    });

                }
            }).navGrid('#pager',
            {
                edit: false, add: false, del: false, search: true, refresh: true
            },
            {}, //edit options
            {}, //add options
            {}, //del options
            {multipleSearch: true} // search options
            );
        });
    </script>
</asp:Content>
