﻿@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height: 26px;
}

form {
	margin:0;
	padding:0;
}

.common-box1 {
	width:100%;
	clear:both;
}

.common-box2 {
	width:980px;
	clear:both;
	margin:0 auto;
}

#header {
	background-image:url(/Content/Imagenes/bg-header.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	height:165px;
}

#login {
	float:right;
	/*background-image:url(/Content/Imagenes/bg-log-box.png);*/
	background-repeat:no-repeat;
	width:270px;
	height:220px;
	padding-left:45px;
	text-align:left;
	color:#000185;
	z-index:+100;
    border-radius:10px;
}

#login h2 {
	color:#32348e;
	font-size:12px;
}

.log-fields {
	border:solid 1px #7db6ec;
	background-color:#ebf7fe;
	color:#a1b9c3;
	font-size:11px;
	width:168px;
	text-indent:10px;
	margin-bottom:5px;
}

.log-but {
	text-transform:uppercase;
	color:#38b700;
	background:none;
	border:none;
	font-size:11px;
	font-weight:bold;
	padding:0;
	margin:0;
	cursor:pointer;
}

#login a {
	text-decoration:none;
	font-weight:bold;
	font-size:10px;
	color:#0094dc;
}

#socials {
	text-align:right;
	padding-top:8px;
	padding-bottom:10px;
	width:475px;
	float:left;
}

#menu {
	height:48px;
	background-image:url(/Content/Imagenes/bg-menu.jpg);
	background-repeat:repeat-x;
	border-top:solid 2px #fff;
	border-bottom:solid 2px #fff;
	text-align:center;
}

#menu a {
	text-decoration:none;
	line-height:48px;
	text-transform:uppercase;
	color:#fff;
	font-weight:bold;
	padding:30px;
	font-size:15px;
}

#menu a:hover {
	background-image:url(/Content/Imagenes/bg-menu-over.jpg);
	background-repeat:repeat-x;
	background-position:center center;
}

#submenu a {
	font-size:13px;
	text-decoration:none;
	color:#99d1e7;
	display:block;
	line-height:20px;
	clear:both;
}

#submenu a:hover {
	color:#dcf5ff;
}

#submenu strong {
	text-transform:uppercase;
	font-size:13px;
	color:#fff;
	display:block;
	clear:both;
	line-height:24px;
}

.sm-c {
	margin-top:-2px!important;
	position:absolute;
	display:table;
	width:940px;
	padding:20px;
	padding-top:0;
	margin:0 auto;
	background-color:#000165;
	border:solid 1px #fff;
	border-top:none;
	z-index:100;
	-moz-box-shadow:	0px 8px 7px 5px #111;
	-webkit-box-shadow: 0px 8px 7px 5px #111;
	box-shadow:			0px 8px 7px 5px #111;
	/*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=7,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=7,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;*/
}

.sm-c div {
	width:225px;
	float:left;
	padding-top:10px;
	padding-right:10px;
}

#content {
	/*background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
min-height:600px;


}

#content-in {
	background-color:#fff;
	width:940px;
	padding:20px;
	min-height:600px;
	margin:0 auto;
	color:#444;
	line-height:20px;
	font-size:14px;
	text-align:justify;
	display:table;
}

#content-in h1 {
	font-size:24px;
	color:#000165;
	margin-top:10px;
	display:block;
	padding-bottom:3px;
	border-bottom: dotted 2px #3399CC;
}

#content-in h2 {
	font-size:20px;
	color:#38b700;
	margin-top:10px;
	display:block;
	padding-bottom:3px;
	border-bottom: dotted 2px #999;
}

.col-in1 {
	width:620px;
	padding-right:30px;
	float:left;
	border-right: solid 1px #ddd;
}

.col-in2 {
	width:250px;
	padding-left:30px;
	float:left;
	padding-bottom:30px;
}

.txt-blue {
	color:#3399CC;
}

.boton-pago {
	text-decoration:none;
	font-weight:bold;
	text-align:center;
	display:block;
	padding:4px 12px;
	border:solid 2px #006600;
	background-color:#38b700;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
}

a.boton-pago:hover {
	color:#FFFF00
}

.photo {
	float:right;
	margin-left:15px;
	margin-bottom:15px;
	padding:2px;
	border:solid 2px #3399CC;
}

.rounded {
	behavior: url(border-radius.htc);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#slider {
	width:970px;
	height:390px;
	border:solid 5px #f1f1f1;
	margin:0 auto;
}

#slider img {
	width:970px!important;
	height:390px!important;
}

#home-boxes {
	padding:20px 0;
	display:table;
}

#home-boxes a {
	display:block;
	float:left;
	border:solid 10px #00016e;
	margin-right:17px;
}

#home-boxes a img {
	width:295px;
	height:160px;
}

#home-boxes a:hover {
	border:solid 10px #69b247;
}

#home-boxes a h3 {
	display:block;
	position:absolute;
	background-image:url(/Content/Imagenes/bg-boxes.png);
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	margin-top:133px;
	padding:5px;
	float:left;
	width:auto;
	z-index:10;
	width:290px;
	text-indent:10px;
	text-decoration:none;
}

#home-cols {
	display:table;
	padding:20px 0;
}

.home-col {
	width:300px;
	float:left;
	padding:0 19px;
	border-right: solid 1px #ddd;
}

#testimonios {
	width:300px;
	max-height:550px;
	
	overflow:scroll;
	background-color:White;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

#testimonios h2 {
	width:280px;
	display:block;
	font-size:16px;
	color:#003d7b;
	padding:4px 10px;
	background-color:#9ed3ef;
	margin:0;
}

#testimonios div {
	font-size:13px;
	color:#666;
	line-height:19px;
	padding:20px 0;
}

#testimonios em {
	float:right;
	color:#83bddc;
}

#footer {
    position:relative;
	height:120px;
	text-align:center;
	padding-top:30px;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    float:left;
    width:100%;

}

#footer a {
	font-weight:bold;
	font-size:10px;
	text-decoration:none;
	color:#00016e;
	padding:0 20px;
	text-transform:uppercase;
}

#footer a:hover {
	color:#666;
}

.txt-rights {
	font-size:10px;
	color:#999;
	padding:10px 0;
}

.Formulario input[type="text"], .Formulario input[type="password"]
{
    width: 96%;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
}
.Formulario select
{
     width: 318px;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
    
  }
  select[multiple]
  {
      height:auto;
      }

.Formulario select#multiple
{
    height: 55px!important;
}
input.inputStyle
{
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
}
.Formulario
{
    width: 100%;
}

.editor-label
{
    font-weight: bolder;
    color: #006699;
    text-shadow: -1px 1px 4px #ccc;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    background-color: #ffffcc;
    padding: 15px 0 15px 5%;
    border: solid 1px #e26958;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.validation-summary-errors li 
{
    display: block;
    background: url('/Content/Images/exclamation.png') no-repeat 0px 50%;
    padding: 5px 0px 5px 25px; 
}

.validation-summary-valid
{
    display: none;
}

/*----------------------------------------------------------*/
.perfil
{
    display:none; 
    float:right; 
    top:100px; 
    right:10%; 
    width:200px;
    position:absolute;  
    -webkit-animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;  
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
   background:#fff;
   overflow:hidden;

}

.detalle_perfil {
    margin: 20px;
}

.detalle_detalle {
    display: inline-block;
    vertical-align: top;
}

.perfil_pie
{

    background: none repeat scroll 0% 0% rgb(245, 245, 245);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    padding: 10px 0px;
    width: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    top:100px;
}

.gb_S {
position: absolute;
left: 0px;
}
.gb_S, .gb_T {
vertical-align: top;
}

.Noticias
{
    text-transform:capitalize;
    color:White;
    margin-left:0px;
    background-color:#2d2d2d;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height:15%;
    font-size:medium;
}

#news
{
    height:40%;
    width:80%;
    margin-left:10%;
    margin-top:1%;
    position:relative;
    background-color:#fff;
  

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 300px;
}

#detalle-noticia
{
    height: 200px;
    min-width: 100%;
    border-bottom-style:dotted;
    border-bottom-color:#000;
    border-bottom-width:1px;
    position:relative;
}

#texto-noticia
{
        display: inline-block;
    margin: 2%;
    position: absolute;
    min-width: 70%;
    overflow:hidden;
    max-height:150px;
}

#div-cursos
{
    background-color:White;
    margin:5%;
        -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:90%;
    float:left;
    
    }
    
    #lista
    {
        list-style-type:none;
        color:#7b868f;
        }
    
.descripcion
{
    position:relative;
    margin-top:5%;
    margin-left:5%;
    max-width:327px;
    max-height:330px;
    min-height:330px;
    min-width:327px;   
    float:left; 
    background-color:#ecf1f5;
}

.titulo-tipo
{
    color: #ffffff;
    font: 600 16px/22px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
    margin-top:-20px;
    margin-left:-40px;
    background-color: #1295d4;
    overflow: hidden;
    padding: 19px 10px 20px 22px;
    margin-bottom: 14px;
    border-radius: 0px 0px 20px 0px;
    -moz-border-radius: 0px 0px 20px 0px;
    -webkit-border-radius: 0px 0px 20px 0px;
    border: 0px solid #000000;
}

.titulo-cursos
{
    color: #075192;
    font: 600 28px/28px 'Open Sans', Open Sans, Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 21px;
    font-size:xx-large;
    font-weight:700;
    letter-spacing:inherit;
    font-family:Fantasy;
}
    
ul.viñeta
{
    list-style-image:url('/Content/Imagenes/check.png');
}

.descripcion-tipo
{
    background: none;
    color: #ffffff;
    background: #1295d4;
    display: inline-block;
    padding: 10px 20px 11px 19px;
    font: 600 17px 'Open Sans';
    text-decoration: none !important;
    border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
    -webkit-border-radius: 0px 30px 30px 0px;
    border: 0px solid #000000;
}

.paginador-cursos
{
    display: inline-block;
    padding: 5px 14px;
    background-color: #1295d4;
    border: 1px solid #ddd;
    color: #fff;
    text-decoration: none;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
    list-style-type:none;

}

a:visited{ color:White;}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/Content/Imagenes/cargando.gif') 
                50% 50% 
                no-repeat;
}

/* Quovolver Demo Styles */

/*
 |	All required styles for the effect
 |	are labeled with this *required*
*/

blockquote p { margin-bottom: 10px; font-style: italic; }
blockquote cite { font-style: normal; display: block; text-align: right; text-transform: uppercase; font-size: 10px; font-weight: bold; letter-spacing: 1px; font-family: Arial, Helvetica, sans-serif; }

/*
 |	Setting the width for the blockquotes is required
 |	to accurately adjust it's contianer
*/

blockquote {
	font-family: Georgia, Times, serif;
	width: 280px; /* required */
	margin: 0 auto;
	}
	
/*
 |	The #quote_wrap div is created
 |	by Quovolver to wrap the quotes
*/

#quote_wrap { 
	background: #D7E4F8 url(/Content/Imagenes/quote-mark.png) no-repeat 20px 20px;
	margin: 0; padding: 20px 10px 20px 10px; 
	/*border: 1px solid #0067C3; */
	 border-color: #0067c3;
    border-image: none;
    border-style: solid;
    border-width: 3px 3px 20px;
}

#agregarTestimonio {
     color: #fff;
    float: right;
    font-size: 16pt;
    font-weight: bold;
    margin-right: 1px;
    margin-top: -25px;
    cursor:pointer;
}

#letterpress h1 {
	font-size:22px;
	font-family: Arial, Helvetica, sans-serif;
	color: #504f4f;
	text-shadow: 0px 2px 1px #bbbaba;
}
#letterpress h1:hover {
	color: #666;
	text-shadow: 0px 2px 1px #333;
}

