body
{
    font-size: .85em;
    font-family: Arial;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.0em 1.0em 1.0em;
    margin:0 0 0.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

.display-label
{
    padding: 0 2% 0 2%;
    background-color: #708BB9;
    color: #fff;
}
.display-field
{
    padding: 2%;
    background-color: #ddd;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    background-color: #ffffcc;
    padding: 15px 0 15px 5%;
    border: solid 1px #e26958;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.validation-summary-errors li 
{
    display: block;
    background: url('/Content/Imagenes/exclamation.png') no-repeat 0px 50%;
    padding: 5px 0px 5px 25px; 
}

.validation-summary-valid
{
    display: none;
}
textarea 
{
    min-height: 75px;
    width: 98%;
}

.textarea2C 
{
    width: 55%!important;
}

.textarea3C 
{
    width: 80%!important;
}

.Formulario input[type="text"]:not(.ui-pg-input), .Formulario input[type="password"]
{
    width: 96%;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
}
.Formulario select:not(.ui-pg-selbox)
{
    width: 96%;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
    
  }
  select[multiple]
  {
      height:auto;
      }

.Formulario select#multiple
{
    height: 55px!important;
}
input.inputStyle
{
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 5px;
    padding-left: 5px;
}
.Formulario
{
    width: 100%;
}

.columnForm
{
    width: 33%;
    vertical-align: top; 
}

.columnForm2
{
    width: 66%;
    vertical-align: top; 
} 
.columnForm3
{
    width: 99%;
    vertical-align: top; 
}
.columnForm4
{
    width:40%;
    vertical-align:top;
}
.columnForm5
{
    width:19%;
    vertical-align:top;      
}
.columnForm30
{
    width:30%;
    vertical-align:top;
}
.Formulario input[type=text], .Formulario input[type=password], .Formulario textarea 
{   margin: 0 0 10px 0;
    color: #555861;
    font-size: small;
    font-weight: bolder; 
}
.Formulario input[type=text]:focus, #Formulario input[type=password]:focus, .Formulario textarea:focus, .Formulario select:focus,input.inputStyle:focus {border: 1px solid #A6C9E2!important; border-radius: 5px;}
.Formulario select 
{
    background-color:#fff;
    border-width:1px;
    border-style:solid;
    color: #555861;
    font-size: small;
    font-weight: bolder; }

.editor-label
{
    font-weight: bolder;
    color: #001D72;
    /*text-shadow: -1px 1px 4px #ccc;*/
}

img,
object {
	max-width: 100%;
}

.separator
{
    height: 20px;
}

/* Textos */

.alignCenter 
{
    text-align: center;
}
.alignLeft
{
    text-align: left;
}
.alignRight
{
    text-align: right;
}
.alignJustify
{
    text-align: justify;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

@media print 
{
    .noPrint 
    {
        display:none;
    }
}

.ofertaI
{
padding:5px 5px 5px 5px;
background-color: #FCF9FC;
border: 3px #006699 solid; 
margin:7px;
-moz-border-radius: 10px 23px 23px 10px;
-webkit-border-radius: 10px 23px 23px 10px;
border-radius: 10px 23px 23px 10px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
opacity: 0.86;
-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 86);
/*-ms-filter must come before filter*/
filter: alpha(opacity = 86);
/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
/*All filters must be placed together*/    
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/Content/Imagenes/cargando.gif') 
                50% 50% 
                no-repeat;
}

#k2QuickIcons { clear:both; margin:-1px 0 8px; padding:8px 0; border-top:1px solid #d5d5d5; position:relative; z-index:0; }
#k2QuickIcons.k2NoLogo { margin:0 0 8px; padding:0; border:none; }
#k2QuickIcons div.icon-wrapper { float:left; display: block !important; width: auto !important; height :auto!important; line-height:12px !important; }
#k2QuickIcons div.icon { text-align:center; margin-right:15px; float:left; margin-bottom:15px; }
#k2QuickIcons div.icon a { background-color:#fff; background-position:-30px; display:block; float:left; height:97px; width:108px; color:#565656; vertical-align:middle; text-decoration:none; border:1px solid #CCC; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-transition-property:background-position, 0 0; -moz-transition-property:background-position, 0 0; -webkit-transition-duration:.8s; -moz-transition-duration:.8s; }
#k2QuickIcons div.icon a:hover,#cpanel div.icon a:focus,#cpanel div.icon a:active { background-position:0; -webkit-border-bottom-left-radius:50% 20px; -moz-border-radius-bottomleft:50% 20px; border-bottom-left-radius:50% 20px; -webkit-box-shadow:-5px 10px 15px rgba(0,0,0,0.25); -moz-box-shadow:-5px 10px 15px rgba(0,0,0,0.25); box-shadow:-5px 10px 15px rgba(0,0,0,0.25); position:relative; z-index:10; }
#k2QuickIcons div.icon a img { padding:10px 0; margin:0 auto; }
#k2QuickIcons div.icon a span { display:block; text-align:center; }

.charsLeft {
	font-size: 0.69em;
	line-height: 1.4;
	}
.charsLeft span {font-weight: 700;}
.charError {
	background: #FF6F6F;
}

.buttonManual {
    padding: 10px 15px;
    background: #2184BE;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.buttonManual:hover {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.buttonManual:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}
.Highlighted a{
   background-color : Green !important;
   background-image :none !important;
   color: White !important;
   font-weight:bold !important;
   font-size: 12pt;
}
.overflow-show
{
    overflow: visible!important;
}
.path, .introForm
{
    margin-top: 25px;
    font-size: larger;
    text-shadow:2px 2px 0 rgba(204,204,204,1);
    font-weight:bold;
    color:#001D72;
    word-spacing:2pt;
    font-size:18px;
    line-height:1;
}
.enlace
{
    cursor: pointer;
}