*{
    margin:0;
}
body{
    background-color: #F5F6F7;
    margin:0;
}
.paginator{
    float:left;
     margin-bottom: 10px;
     margin-left:0px;
}
.paginator li {
    float:left;
    list-style: none;
    text-align: center;
    
}
.paginator li a{
    box-shadow: 1px 1px 3px #999999;
    display: block;
    height: 25px;
    margin-left: 3px;
    margin-top: 0;
    padding-top: 5px;
    text-decoration: none;
    width: 30px;
    background-color: white;
}
.paginator li a:hover{
}
.page-previous-outer{
    box-shadow: 1px 1px 3px #999999;
    border: 1px solid #999;
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 50%;
    margin-top: -5px;
    padding-left: 25px;
    border-style:solid;
    border-color:#92C1EB;
    background-color:#FFF;
        	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.page-previous-inner {
    float:left;
    position:relative;
    
    color:grey;
}
.page-previous-inner div{
    width:500px;
    float:left;
    position:relative;

}
#arrow{
    position:relative;
    left:344px;
}
#conteiner{
    width: 960px;
    margin:0 auto;
    background-color: white;
    box-shadow: 0px 0px 1px #999;
}
#pag{
    margin:0 auto;
    padding-bottom: 10px;
    width:70%;
    position:relative;


}
.footer{
    margin: 100px auto 0 auto;
    border-top:1px solid #999;
    padding-top: 10px;
}
#wrapper{
    margin-left:150px;
    margin-right:150px;
}
h1{
    color:#3D79D0;
    font-size: 40px;
    font-family: 'Marmelad', sans-serif;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn{
    text-decoration: none;
    padding:5px;
    background-color: #3D79D0;
    color:white;
    text-shadow:1px #999;
    box-shadow:1px 1px 1px #999;
    border-radius:4px;
}    