﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<bool>" %>
							<div class="display-label">  
                                <%= Html.LabelFor(model => model) %>  
                            </div>  
                            <div class="display-field">  
                                <%  if (Model)
                                        Response.Write("Si");
                                    else
                                        Response.Write("No");
                                     %>  
                            </div>
