﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<int>" %>
							<div class="display-label">  
                               <%= Html.LabelFor(model => model) %>  
                            </div>  
                            <div class="display-field">  
                                <%: Model %>  
                            </div>

