﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<ITELCA_CONTROLESTUDIOS.Models.ViewModels.FeriadoViewModel>" %>
       
       <div class="span-24 column last">
            <div class="span-5 column">
                 <div class="editor-label">
					    <%: Html.LabelFor(model => model.FERIADOS.NOMBRE)%>
			    </div>
                <div class="editor-field">
				    <%: Html.TextBoxFor(model => model.FERIADOS.NOMBRE)%>
				    <%: Html.ValidationMessageFor(model => model.FERIADOS.NOMBRE)%>
			    </div> 
            </div>
        </div>
   
    <div class="span-24 last">
            <div class="span-8 column">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.FERIADOS.DIA)%>
			</div>
            <div class="editor-field">
				<%: Html.DropDownListFor(model => model.FERIADOS.DIA, Model.listaDias)%>
				<%: Html.ValidationMessageFor(model => model.FERIADOS.DIA)%>
			</div> 
        </div>   
    </div>

    <div class="span-24 column last">
        <div class="span-8 column">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.FERIADOS.MES)%>
			</div>
            <div class="editor-field">
				<%: Html.DropDownListFor(model => model.FERIADOS.MES,Model.listaMeses)%>
				<%: Html.ValidationMessageFor(model => model.FERIADOS.MES)%>
			</div> 
        </div>          
    </div>
    <div class="span-24 column last">
        <div class="span-8 column">
             <div class="editor-label">
					<%: Html.LabelFor(model => model.FERIADOS.ANIO)%>
			</div>
            <div class="editor-field">
				<%: Html.TextBoxFor(model => model.FERIADOS.ANIO)%>
				<%: Html.ValidationMessageFor(model => model.FERIADOS.ANIO)%>
			</div> 
        </div>          
    </div>
    <div class="span-24 column last">
        <div class="span-8 column">
            <div class="editor-label">
					<%: Html.Label("Anual")%>
			</div>
            <div class="editor-field">
            <% if (Model.FERIADOS.PERIODICO == 0)
               { %>
				<%: Html.CheckBox("ANUAL", false, new { @id = "ANUAL" })%>
			<%}
               else
               {  %>
               <%: Html.CheckBox("ANUAL", true, new { @id = "ANUAL" })%>
            <%} %>
			</div> 
        </div>    
     </div>
  
        
      