﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<DateTime>" %>
   <%string name = ViewData.TemplateInfo.HtmlFieldPrefix;%>  
   <%string id = name.Replace(".", "_");
     string fecha = "";
     %>  
   <div class="editor-label">  
      <%: Html.LabelFor(model => model) %>  
  </div>  
  <div class="editor-field">  
      <%: Html.TextBox("",Model.ToString("MM/dd/yyyy"))%>  
      <%: Html.ValidationMessageFor(model => model) %>  
  </div>  
    
<%--  <script type="text/javascript">
      $(function () {
          var dates = $("#<%=id%>").datepicker({
              dateFormat: 'mm/dd/yy',
              changeMonth: true,
              changeYear: true,
              dayNamesMin: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
              monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
          });
      });
  </script> --%> 



