﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<ITELCA_CONTROLESTUDIOS.Models.ViewModels.OfertasModulosViewModel>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    [Itelca - Ofertas Modulos]
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<div class="span-22 append-1 prepend-1 column last ui-widget-content ui-corner-all">
	<span class="introForm">Oferta Módulos > Crear</span>
		<% using (Html.BeginForm()) { %>
		<% Html.EnableClientValidation(); %>
        <%:Html.ValidationSummary("Error en la aplicación") %>
       
            <div  class="span-24 Formulario  column last">
				<% Html.RenderPartial("Form",Model); %>
			</div>
            
              <div  class="span-24 column last" id="ggg">
                <div class="editor-label">
				    <%: Html.Label("Curso")%>
			    </div>
                <div class="editor-field">
				    <%: Html.DropDownList("cursoGrid", Model.listaCursosGrid)%>
			    </div> 
             </div>
            
             <div  class="span-24 column last">

                <table id="OfertasModulosGrid"></table>
                <div id="pager"></div> 
             </div>
            
            <div class="column span-24">
                <%: Html.ActionLink("Volver al listado", "Listar")%>
            </div>
          
			
    <% } %>
      
</div>
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="CssContent" runat="server">
    <link href="/Content/Css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="JsContent" runat="server">
    <script src="/Scripts/grid.locale-es.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery.maskedinput-1.2.2.js" type="text/javascript"></script>
    <script src="/Scripts/Views/OfertaModulos.js" type="text/javascript"></script>
    <script type="text/javascript">
        function calcularFecha(feIni,idM,idT,colFechaFin,colProximo){
            
            $.post("/OfertasModulos/CalcularFecha",{fechaInicio:feIni,idModulo:idM,idTurno:idT},function(data){
                alert("fecha calculada fin:"+data);
                $(colFechaFin).val(data);
                $(colFechaFin).focus();
            });
        } 
         $(document).ready(function () {
           var colSede,colAula,colTurno,colModulo, colFechaFin,colProximo ;
            function reload(rowid, result) {
                   jQuery("#OfertasModulosGrid").trigger("reloadGrid"); 
            }
             resetStatesValues = function () {
                 // set 'value' property of the editoptions to initial state
                 grid.jqGrid('setColProp', 'Aula', { editoptions: { dataUrl: "/OfertasModulos/ObtenerSelect"} });
             };
             var lastSelection, grid = jQuery("#OfertasModulosGrid");
             grid.jqGrid({
                 url: '/OfertasModulos/ObtenerData',
                 mtype: 'POST',
                 postData: { id: function () { return $("#cursoGrid option:selected").val() } },
                 datatype: 'json',
                 colNames: ['Id', 'Sede', 'Turno', 'Aula', 'Modulo', 'Fecha Inicio', 'Fecha Fin', 'Proximo Inicio', 'Matricula', 'Eliminar'],
                 colModel: [
			    { name: 'OFERTA_MODULO_ID',
			        index: 'OFERTA_MODULO_ID',
			        editable: true,
			        editrules: { edithidden: true,required:false },
			        hidden: true,
			        width: 40
			    },
			    {
			        name: 'SEDE_ID',
			        index: 'SEDE_ID',
			        editable: true,
			        editrules: { required: true },
			        edittype: 'select',
			        //formatter: 'select',
			        editoptions: {
                        dataInit: function (elem) { colSede=elem;$(elem).html("<select><option value=''>Cargando...</option></select>"); },
			            dataUrl: "/OfertasModulos/ObtenerSede",
			            buildSelect: function (data) {
			                var response = jQuery.parseJSON(data);
			                var s = '<select>';
			                if (response && response.length) {
			                    for (var i = 0, l = response.length; i < l; i++) {
			                        s += '<option value="' + response[i].key + '">' + response[i].value + '</option>';
			                    }
			                }
                            var cm = $("#OfertasModulosGrid").jqGrid('getColProp', 'SEDE_ID');
                            $(colSede).empty();
			                return s + "</select>";
			            },
			            dataEvents: [{
			                type: 'change',
			                fn: function (e) {
			                    var sedeId = $(e.target).val(),
                                row = $(e.target).closest('tr.jqgrow'),
                                form = $(e.target).closest('form.FormGrid'),
                                evento = $(e.target);
			                    if ($(e.target).is('.FormElement'))
			                    // si estoy editando desde el formulario
			                        $("select#AULA_ID.FormElement", form[0]).html("<select><option value=''>Cargando...</option></select>");
			                    else
			                    // si estoy editando en la misma linea
			                        $("select#" + $.jgrid.jqID(row.attr('id')) + "_AULA_ID", row[0]).html("<select><option value=''>Cargando...</option></select>");

			                    $.get('/Aula/ObtenerListaAula', { idSede: "20" }, function (data2) {
			                        if ($(e.target).is('.FormElement'))
			                            $("select#AULA_ID.FormElement", form[0]).html(data2);
			                        else
			                            $("select#" + $.jgrid.jqID(row.attr('id')) + "_AULA_ID", row[0]).html(data2);
			                    });
			                }
			            }]
			        },
			        width: 300
			    },
                 {
                     name: 'TURNO_ID',
                     index: 'TURNO_ID',
                     editable: true,
                     edittype: 'select',
                     //formatter: 'select',
                     editoptions: {
                         dataInit: function (elem) { colTurno=elem;$(elem).html("<select><option value=''>Cargando...</option></select>"); },
                         dataUrl: "/OfertasModulos/ObtenerTurno",
                         buildSelect: function (data) {
                             var response = jQuery.parseJSON(data);
                             var s = '<select>';
                             if (response && response.length) {
                                 for (var i = 0, l = response.length; i < l; i++) {
                                     s += '<option value="' + response[i].key + '">' + response[i].value + '</option>';
                                 }
                             }
                             $(colTurno).empty();
                             return s + "</select>";
                         }
                     },
                     width: 150
                 },
                 {
                     name: 'AULA_ID',
                     index: 'AULA_ID',
                     editable: true,
                     edittype: 'select',
                     //formatter: 'select',
                     editoptions: {
                         dataInit: function (elem) { colAula=elem;$(elem).html("<select><option value=''>Cargando...</option></select>"); },
                         dataUrl: "/OfertasModulos/ObtenerAula",
                         buildSelect: function (data) {
                             var response = jQuery.parseJSON(data);
                             var s = '<select>';
                             if (response && response.length) {
                                 for (var i = 0, l = response.length; i < l; i++) {
                                     s += '<option value="' + response[i].key + '">' + response[i].value + '</option>';
                                 }
                             }
                             $(colAula).empty();
                             return s + "</select>";
                         }
                     }

                 },
                  {
                      name: 'MODULO_ID',
                      index: 'MODULO_ID',
                      editable: true,
                      edittype: 'select',
                      //formatter: 'select',
                      editoptions: {
                        dataInit: function (elem) {colModulo=elem; $(elem).html("<select><option value=''>Cargando...</option></select>"); 
                                    $.post("/OfertasModulos/ObtenerModulo",{curso:$("#cursoGrid option:selected").val()},function(dataM){
                                        $(elem).html(dataM);
                                    });
                        },
                      },
                      width: 200
                  },
                 { name: 'FECHA_INICIO',
                     index: 'FECHA_INICIO',
                     width: 105,
                     editable: true,
                     formatter: 'date', formatoptions: { srcformat: 'd-m-Y', newformat: 'd/m/Y' },
                     editrules: { required: true, date: true },
                     editoptions: {
                         dataInit: function (element) {
                             $(element).datepicker({
                                 dateFormat: "dd/m/yy",
                                 autoSize: true,
                                 changeYear: true,
                                 changeMonth: true,
                                 showButtonPanel: true,
                                 showWeek: true,
                                 onClose: function( dateText,inst ){
                                    $(this).focus();
                                    calcularFecha(dateText, $(colModulo).find("option:selected").val(),$(colTurno).find("option:selected").val(),colFechaFin,colProximo);
                                 }
                             });
                         }
                     }

                 },
                   { name: 'FECHA_FIN',
                       index: 'FECHA_FIN',
                       width: 105,
                       editable: true,
                       formatter: 'date', formatoptions: { srcformat: 'd-m-Y', newformat: 'd/m/Y' },
                       editrules: { required: true, date: true },
                       editoptions: {
                           dataInit: function (element) {
                                colFechaFin=element; 
                               $(element).datepicker({
                                   dateFormat: "dd/m/yy",
                                   autoSize: true,
                                   changeYear: true,
                                   changeMonth: true,
                                   showButtonPanel: true,
                                   showWeek: true,
                                   onClose: function( dateText,inst ){
                                        $(this).focus();
                                   }
                               });
                           }
                       }

                   },
                    { name: 'PROXIMO_INICIO',
                        index: 'PROXIMO_INICIO',
                        width: 105,
                        editable: true,
                        formatter: 'date', formatoptions: { srcformat: 'd-m-Y', newformat: 'd/m/Y' },
                        editrules: { required: true, date: true },
                        editoptions: {
                            dataInit: function (element) {
                                $(element).datepicker({
                                   dateFormat: "dd/m/yy",
                                    autoSize: true,
                                    changeYear: true,
                                    changeMonth: true,
                                    showButtonPanel: true,
                                    showWeek: true,
                                    onClose: function( dateText,inst ){
                                        $(this).focus();
                                    }
                                });

                            }
                        }

                    },
                     { name: 'MATRICULA_MINIMA',
                         index: 'MATRICULA_MINIMA',
                         editable: true,
                         width: 80,
                         align: 'right',
                         sortable: false//,
                         //cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'class="BankTranEdit"' },
                         //formatter: 'currency',
                         //formatoptions: { decimalSeparator: '.', thousandsSeparator: ',', decimalPlaces: 2, defaultValue: '&nbsp;' } 
                     },
                    { name: 'Action2',
                        index: 'Action2',
                        align: "left",
                        width: 50,
                        resizable: false,
                        sortable: false,
                        search: false
                    }
		    ],
                 pager: '#pager', //jQuery('#pager'),
                 rowNum: 100,
                 rowList: [25, 50, 100],
                 editurl: "/OfertasModulos/GuardarFila", // 'clientArray'
                 sortname: 'Number',
                 sortorder: "desc",
                 viewrecords: true,
                 // width: 450,
                 height: 300, //'auto', //450,
                 onCellSelect: function (rowid, iCol, cellContent, e) {

                     //                     if (lastSelection) {
                     //                         guardar(lastSelection);
                     //                     }

                 },
                 ondblClickRow: function (rowid, iCol, cellContent, e) {
                     grid.jqGrid('restoreRow', lastSelection);
                     grid.jqGrid('editRow', rowid, true, null, null, null, null, reload);
                     lastSelection = rowid;
                 },
                 onSelectRow: function (id) {
                     grid.jqGrid('restoreRow', lastSelection);
                 }
             }).navGrid('#pager',
            {
                edit: true, add: false, del: false, search: true, refresh: true
            },
            {
            }, //edit options
            {}, //add options
            {}, //del options
            {multipleSearch: true} // search options
            );
             //             $("#pager_left").hide(); // hide unused place in the pager

         });
       
     </script>
</asp:Content>
