﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Web.Master" Inherits="System.Web.Mvc.ViewPage<ITELCA_CONTROLESTUDIOS.Models.ViewModels.ViewModelForViewWrapper<ITELCA_CONTROLESTUDIOS.Models.ViewModels.MasterViewModel,ITELCA_CONTROLESTUDIOS.Models.ViewModels.HomeViewModel>>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    [Itelca - Instituto Técnico Luisa Cáceres de Arismendi, Cursos, Talleres, Educación, Instituto, Excelencia educativa, cursos, talleres]
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="JsContent" runat="server">
    <script type="text/javascript" src="/Scripts/jquery.nivo.slider.js"></script>
    <script src="/Scripts/jquery.quovolver.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('blockquote').quovolver();
        });
	</script>
    <script src="/Scripts/jquery.infieldlabel.min.js" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="CssContent" runat="server">
    <link rel="stylesheet" href="/Content/Css/nivo-slider.css" type="text/css" media="screen" />
    <link href="../../Content/Css/itelca/jquery-ui-1.10.3.custom.css" rel="stylesheet"
        type="text/css" />
    <style type="text/css">
        p {
            margin: 0;
        }

        /* input styling */
         .input {
            background: #fff;
            border: 1px solid #c4c4c4;
            color: black;
            font-size: 14px;
            height: 38px;
            margin: 0;
            outline: none;
            padding: 0 5px;
        }

        .lt-ie9 .input {
            line-height: 38px;
        }

        .input:focus {
            border-color: #08c;
            -webkit-box-shadow: 0 0 6px rgba(0, 136, 204, 0.4);
               -moz-box-shadow: 0 0 6px rgba(0, 136, 204, 0.4);
                    box-shadow: 0 0 6px rgba(0, 136, 204, 0.4);
        }

        /* infieldLabel styles */
         .infield-label {
            display: block;
            position: relative;
        }

        .infield-label label {
            bottom: 0;
            color: #777;
            display: block;
            left: 0;
            line-height: 39px;
            margin: 0;
            right: 0;
            top: 0;
        }

        /* normally hidden behind .js class on body */
         .infield-label label {
            cursor: text;
            font-size: 14px;
            padding: 0 10px;
            position: absolute;
            white-space: nowrap;
        }

        .placeholder-focus label {
            background-color: rgba(0, 0, 0, 0.85);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
               -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            bottom: auto;
            color: #fff;
            line-height: 32px;
            right: auto;
            top: -40px;
        }

        .no-rgba .placeholder-focus label {
            background-color: #111;
        }

        .placeholder-focus label:after {
            border-top: 5px solid rgba(0, 0, 0, 0.8);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            bottom: -5px;
            content:'';
            display: block;
            height: 0;
            left: 10px;
            position: absolute;
        }

        .no-rgba .placeholder-focus label:after {
            border-top-color: #111;
        }

        .infield-label-image.placeholder-focus label {
            top: -122px;
        }

        .placeholder-hide label {
            bottom: auto;
            left: -9999px;
            right: auto;
            top: -9999px;
        }
        
        .ui-widget .ui-widget {
            font-size: 0.8em;
        }
        
 
           
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=655882267815212&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
    <div class="common-box2">
        <div class="theme-default"><!--Theme-default-->
            <!--Inicio Banner -->
            <div id="slider" class="nivoSlider">
                <%if (Model.View.banners != null)
                  { %>
                <%foreach (var item in Model.View.banners)
                  {
                %>
                <img src="/Content/Web/Banner/<%=item.URL %>" width="970" height="390" title="<%=item.TEXTO %>" alt="<%=item.TEXTO %>" data-pausetime="<%= item.DURACION %>" />
                <%
                  }
                  }%>
            </div>
            <!--Fin Banner -->
        </div><!--fin theme-default-->
        
        <div id="home-boxes" class="common-box2">
        <!--Home-Boxes-->
            <% foreach (var seccion in Model.View.principales)
               {
                   %>
            <a href="<%: Url.Action("Seccion", new { @seccion_id = seccion.SECCION_ID }) %>">
                <h3><%: seccion.NOMBRE %></h3>
                <img src="/Content/Web/Seccion/<%: seccion.IMAGEN_RESUMEN %>" border="0" alt="<%: seccion.NOMBRE %>" title="<%: seccion.NOMBRE %>" />
            </a>
            <% } %> 
        </div><!--fin home-boxes-->
        <div id="home-cols" class="common-box2">
            <div class="home-col" style="padding-left: 0;">
                <img src="/Content/Imagenes/img-pago.jpg" alt="Banner Pago en Línea" title="Banner Pago en Línea" />
            </div>
            <div class="home-col">
                <div class="fb-like-box" data-href="https://www.facebook.com/itelca.instituto?fref=ts" data-width="300" data-height="570" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
            </div>
            <div class="home-col" style="padding-right: 0; border: none;">
                <div>
                    <% if (Model.View.testimonios != null)
                       {
                           foreach (var item in Model.View.testimonios)
                           {
                    %>
                        <blockquote>
			                <p><%=item.TEXTO%></p>
			                <cite>&ndash; <%=item.NOMBRE%></cite>
		                </blockquote>
                            <%
                           } %>
                             <div id="agregarTestimonio" title="Dejar Testimonio">+</div>
                           <%
                       } %>
                   
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-form" title="Testimonio">
        <label for="textoTestimonio">Texto:</label>
        <textarea name="textoTestimonio" id="textoTestimonio" style="margin-left:15px;" rows="3" cols="30"></textarea>
        <label for="nombreTestimonio">Nombre: </label>
        <input type="text" name="nombreTestimonio" id="nombreTestimonio" value="">
    </div>

    <div id="dialog-message" title="Guardar Testimonio">
        <div id="mensajeDialog"></div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {

            var dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 350,
                width: 400,
                modal: true,
                buttons: {
                    Aceptar: function () {
                        var texto = $("#textoTestimonio").val();
                        var nombre = $("#nombreTestimonio").val();

                        $.post("/Testimonios/guardarTestimonio", { texto: texto, nombre: nombre }, function (data) {
                            if (data == true) {
                                $("#mensajeDialog").text("El Testimonio ha sido guardado Satisfactoriamente.");
                                $("#dialog-message").dialog("open");
                            } else {
                                $("#mensajeDialog").text("Ocurrió un error al guardar el Testimonio.");
                                $("#dialog-message").dialog("open");
                            }
                            dialog.dialog("close");
                        });
                    },
                    Cancelar: function () {
                        dialog.dialog("close");
                    }
                }
            });

            $("#dialog-message").dialog({
                modal: true,
                autoOpen: false,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#agregarTestimonio").click(function (event) {
                dialog.dialog("open");
            });





        });
    </script>
</asp:Content>
