﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>

<div class="icon-wrapper">
                <div class="icon-wrapper">
                    <div class="icon">
                        <a href="<%= Url.Action("Listar","Solicitudes") %>">
                            <img src="/Content/Imagenes/solicitudes.png" alt="Solicitudes" />
                            <span>Solicitudes</span>
                        </a>
                    </div>
                </div>