﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>


<ul id="css3menu1" class="topmenu">
    <li class="topfirst"><a href="#" style="height:15px;line-height:15px;"><span>Control estudios</span></a>
        <ul>
            <li class="subfirst"> <a href="<%= Url.Action("Nueva","Solicitudes") %>" >Solicitudes</a> </li>
            <li class="sublast"><a href="#" style="height:15px;line-height:15px;"><span>Inscripciones</span></a>
	            <ul>
                   <li class="subfirst"> <a href="<%= Url.Action("Index","MatriculaManual") %>" > Inscripción Asistida</a> </li>
	            </ul>
            </li>
        </ul>
    </li>
    <li class="topmenu"><a href="#" style="height:15px;line-height:15px;"><span>Administrativo</span></a>
        <ul>
            <li class="subfirst"><a href="<%= Url.Action("Listar","ManejoCajas") %>"><span>Gestor de manejo cajas</span></a>
		        <ul> 
                    <li class="subfirst"><a href="<%= Url.Action("Crear","ManejoCajas") %>" >Abrir caja</a></li> 
                    <li class="submenu"><a href="<%= Url.Action("Cerrar","ManejoCajas") %>" >Cerrar caja</a></li> 
                </ul>
            </li>
            <li class="sublast"> <a href="<%= Url.Action("Index","ReciboCaja") %>" >Recibo de Caja</a> </li>
            <li class="sublast"> <a href="<%= Url.Action("Anular","ReciboCaja") %>" >Anular Recibo de Caja</a> </li>
        </ul>
    </li>
     <li class="topmenu"><a href="#" style="height:15px;line-height:15px;"><span>Reportes</span></a>
        <ul>
            <li class="subfirst"> <a href="<%= Url.Action("VentaDiariaCaja","Reporte") %>" >Venta Diaria Caja</a> </li>
             <li class="subfirst"> <a href="<%= Url.Action("Listar","ReciboCaja") %>" >Recibos Del Dia</a> </li>
        </ul>
    </li>
    <li class="toplast"><a href="#"  style="height:15px;line-height:15px;"><span>Mi cuenta</span></a>
	    <ul>
            <li class="subfirst"><a href="<%= Url.Action("IndexCDE","Home") %>">Ir a principal</a> </li>
		    <li class="submenu"><a href="<%= Url.Action("CambiarClave","Usuario") %>">Cambiar contraseña</a> </li>
            <li class="sublast"><a href="<%= Url.Action("LogOffHome","Account") %>">Salir</a> </li>
	    </ul>
	</li>
</ul>