﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<dynamic>" %>


<ul id="css3menu1" class="topmenu">
    <li class="topfirst"><a href="#" style="height:15px;line-height:15px;"><span>Configuración</span></a>
	    <ul>
           <li class="subfirst"><a href="#" style="height:15px;line-height:15px;"><span>Académico</span></a>
                <ul>
                    <li class="subfirst"><a href="<%= Url.Action("Listar","Sede") %>"><span>Gestor de sedes</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Sede") %>" >Crear sede</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","TipoAula") %>"><span>Gestor de tipos aulas</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","TipoAula") %>" >Crear tipo de aula</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Aula") %>"><span>Gestor de aulas</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Aula") %>" >Crear aula</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Turno") %>"><span>Gestor de turnos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Turno") %>" >Crear turno</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Feriado") %>"><span>Gestor de feriados</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Feriado") %>" >Crear feriado</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","TipoTaller") %>"><span>Gestor de tipo taller</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","TipoTaller") %>" >Crear tipo taller</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Taller") %>"><span>Gestor de talleres</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Taller") %>" >Crear talleres</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","TipoCurso") %>"><span>Gestor de tipos cursos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","TipoCurso") %>" >Crear tipo de curso</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Curso") %>"><span>Gestor de cursos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Curso") %>" >Crear curso</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Modulo") %>"><span>Gestor de módulos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Modulo") %>" >Crear módulo</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","ModulosTurnos") %>"><span>Gestor de módulos-turnos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","ModulosTurnos") %>" >Crear módulo-turno</a></li> </ul>
                    </li>
                      <li class="sublast"><a href="<%= Url.Action("Listar","CursosDuracion") %>"><span>Gestor de Cursos-Duraciones</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","CursosDuracion") %>" >Crear Curso-Duración</a></li> </ul>
                    </li>
                </ul> 
           </li>
           <li class="sublast"><a href="#" style="height:15px;line-height:15px;"><span>Administrativo</span></a>
                <ul>
                    <li class="subfirst"><a href="<%= Url.Action("Listar","Caja") %>"><span>Gestor de cajas</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Caja") %>" >Crear caja</a></li> </ul>
                    </li>
                    <%--<li class="submenu"><a href="<%= Url.Action("Listar","TipoAula") %>"><span>Gestor formas de pago</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","TipoAula") %>" >Crear forma de pago</a></li> </ul>
                    </li>--%>
                    <li class="submenu"><a href="<%= Url.Action("Listar","Concepto") %>"><span>Gestor de conceptos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","Concepto") %>" >Crear conceptos</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","ConceptoCurso") %>"><span>Gestor de conceptos cursos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","ConceptoCurso") %>" >Crear concepto curso</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","ConceptosTiposSolicitudes") %>"><span>Gestor de conceptos tipos solicitudes</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","ConceptosTiposSolicitudes") %>" >Crear conceptos tipos solicitudes</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","ConceptoTaller") %>"><span>Gestor de conceptos talleres</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","ConceptoTaller") %>" >Crear concepto taller</a></li> </ul>
                    </li>
                    <li class="submenu"><a href="<%= Url.Action("Listar","DescuentosCursos") %>"><span>Descuentos de cursos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","DescuentosCursos") %>" >Crear descuento curso</a></li> </ul>
                    </li>
                    <li class="sublast"><a href="<%= Url.Action("Listar","PreciosProductos") %>"><span>Precios de productos</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Crear","PreciosProductos") %>" >Crear precio producto</a></li> </ul>
                    </li>
                </ul> 
           </li>
	    </ul>
    </li>
    <li class="topmenu"><a href="#" style="height:15px;line-height:15px;"><span>Control estudios</span></a>
        <ul>
            <li class="subfirst"> <a href="<%= Url.Action("Crear","OfertaCurso") %>" >Ofertas Cursos</a> </li>
            <li class="submenu"> <a href="<%= Url.Action("Index","AsistenciaTaller") %>" >Asistencia Taller</a> </li>
            <li class="submenu"> <a href="<%= Url.Action("Index","Asistencia") %>" >Asistencia Curso</a> </li>
            <li class="submenu"> <a href="<%= Url.Action("Index","NotaModulo") %>" >Nota Curso</a> </li>
            <li class="submenu"><a href="<%= Url.Action("ListarControl","MatriculaCurso") %>"><span>Matricula Alumno</span></a>
		        <ul> 
                    <li class="subfirst"><a href="<%= Url.Action("ModificarMatriculaAlumno","MatriculaCurso") %>" >Modificar</a></li> 
                    <li class="submenu"><a href="<%= Url.Action("ListarControl","MatriculaCurso") %>" >Listar</a></li>
                </ul>
              </li>
            <li class="submenu"><a href="<%= Url.Action("Listar","Solicitudes") %>"><span>Solicitudes</span></a>
		                <ul> <li class="subfirst"><a href="<%= Url.Action("Nueva","Solicitudes") %>" >Crear</a></li> </ul>
            </li>
            <li class="sublast"><a href="#" style="height:15px;line-height:15px;"><span>Inscripciones</span></a>
	            <ul>
                   <%--<li class="subfirst"> <a href="/MatriculaCurso/Inscripcion" > Inscripción Curso</a> </li>
                   <li class="submenu"> <a href="/MatriculaTaller/Inscripcion" > Inscripción Taller</a> </li>--%>
                   <li class="subfirst"> <a href="<%= Url.Action("Index","MatriculaManual") %>" > Inscripción Asistida</a> </li>
	            </ul>
            </li>
        </ul>
    </li>
    <li class="topmenu"><a href="#" style="height:15px;line-height:15px;"><span>Administrativo</span></a>
        <ul>
            <li class="subfirst"> <a href="<%= Url.Action("Index","ReciboCaja") %>" >Recibo de Caja</a> </li>
            <li class="sublast"> <a href="<%= Url.Action("Anular","ReciboCaja") %>" >Anular Recibo de Caja</a> </li>
        </ul>
    </li>
    <li class="toplast"><a href="#"  style="height:15px;line-height:15px;"><span>Mi cuenta</span></a>
	    <ul>
            <li class="subfirst"><a href="<%= Url.Action("IndexCDE","Home") %>">Ir a principal</a> </li>
		    <li class="submenu"><a href="<%= Url.Action("CambiarClave","Usuario") %>">Cambiar contraseña</a> </li>
            <li class="sublast"><a href="<%= Url.Action("LogOffHome","Account") %>">Salir</a> </li>
	    </ul>
	</li>
</ul>